body{
    margin:0px;
    padding: 0px;
    background:rgb(255, 255, 255);
}
/*menu ------------------------------------------------------------------------------------------------------------------*/
.menu ul{
    background: rgb(44, 43, 43);
    margin: 0% 0% 2% 0%;
    float: none;
    width: 100%;

}

.menu li a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 22px;
    padding: 6px 6px;
}

.menu li a:hover{
    background: rgb(77, 76, 76);
}

.menu li{
    list-style: none;
    display: inline-block;
    padding: 1.5%; 
}


.menu li:first-of-type{
    margin-left: 5%;
}
/*Mensagem ------------------------------------------------------------------------------------------------------------------*/

#msg{
    font-size: 140%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 20%;
    color:rgb(44, 43, 43);
    display: block;
    margin-top: 50%;
}

#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: center;
    padding: 0;
    width: 11%;
}

/*Rodapé ------------------------------------------------------------------------------------------------------------------*/

.fim{ 
    background:rgb(31, 31, 31);
    color: rgb(240, 240, 240);
    padding: 0.5%;
    text-align: center;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
